*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c3e1fb; /* Light blue background color */
    font-family: 'Arial', sans-serif;
}

#header {
    background-color: #0047AB; /* blue header background color */
    color: white;
    text-align: left;
    padding: 10px 0;
}

.header-container {
    max-width: 1000px;
    margin: 0 auto;
}

.header-container h1 {
    font-size: 20px;
    margin: 0;
}


#banner {
    background: url(images/login2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    padding-left: 50px;
}
.column{
padding-left: 45px;
padding-right: 45px;

}

.card {
    
    width: 250px;
    height: 195px;
    padding: 20px;
    background-color: #e5f0faa5; /* Card background color */
    border: 2px solid #181075; /* Card border color */
    border-width: 4px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    margin: auto;
}



.card i {
    font-size: 48px;
    color: #181075; /* Icon color */
    margin-top: 26px; /* Add margin to move the icon down */
}

.card p {
    margin-top: 25px;
    font-size: 20px;
    font-weight: bold;
    color: #181075; /* Text color */
    margin-top: 30px;
    
}

.card a {
    text-decoration: none;
    color: inherit;
}

.card:hover {
    background-color: #181075; /* Card background color on hover */
    color: #fff; /* Text color on hover */
}

.card a:hover {
    color: #fff; /* Text color on hover for the link */
}

.card:hover i {
    color: #fff; /* Icon color on hover */
}

.card:hover p {
    color: #fff; /* Icon color on hover */
}
