* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#banner {
    background: url(images/login2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
   
  #header {
    background-color: #0047AB; 
    color: white;
    text-align: left;
    padding: 10px 0;
  }
  
  .header-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .header-container h1 {
    font-size: 20px;
    margin: 0;
  }
  body {
    background-color: #c3e1fb; 
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
  
  }  
   

    .form-row {
      display: flex;
      justify-content: space-between; 
      align-items: center;
      margin-bottom: 10px;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 15px;
  }
  
  .form-column {
      flex: 2; 
      margin-right: 30px; 
      margin-left: 20px;
      width: 200px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 900px; 
    padding: 15px;
    border: 3px solid #181075;
    background-color: rgba(210, 222, 251, 0.671); 
    border-radius: 5px;
    margin: auto;
    color: #181075;
  }
  
  .container label {
    font-weight: bold;
    margin-bottom: 5px;
  
  }

    input {
      margin: 5px 0;
      height: 35px;
      width: 100%;
      padding: 7px;
    }
    
    select {
      margin: 5px 0;
      height: 35px;
      width: 100%;
      padding: 7px;
       border-radius: 10px; 
    }
    
    button {
      height: 50px;
      margin: 10px 0;
      width: 100%;
      max-width: 400px;
      background-color: transparent;
      border: 3px solid #181075;
      border-radius: 5px;
      color: #181075;
      cursor: pointer;
      transition: background-color 0.2s ease;
      font-family: 'Cooper Black';
      align-items: center;
    }

    button:hover {
        background-color: #181075;
        color: #fff; 
      }
      
      .options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
      }
      .button-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px; 
    }
 
    .button-container button {
        width: 100%; 
    }
    